<div class="col-md-12 merchArea">
        <div class="row cards">
        <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" [src]="ImagePathCup" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Mug with print</h4>
                <p class="card-text">Pixelman on mug</p>
                <p>Price: 100 pixelcoins</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
        </div>
            <div class="col-md-4">
        <div class="card" >
            <img class="card-img-top" [src]="ImagePathCup2" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Mug with print</h4>
                <p class="card-text">Pixelman on mug</p>
                <p>Pris: 100 pixelcoins</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
            </div>
            <div class="col-md-4">
        <div class="card" >
            <img class="card-img-top" [src]="ImagePathCup3" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Mug with print</h4>
                <p class="card-text">Pixelman on mug</p>
                <p>Price: 100 pixelcoins</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
        </div>

        </div>
        <div class="row cards">
            <div class="col-md-4">
                <div class="card" >
                    <img class="card-img-top" [src]="ImagePathgirlVersion" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">T-shirt with print</h4>
                        <p class="card-text">Pixelman on T-shirt for girls</p>
                        <p>Price: 250 pixelcoins</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" >
                    <img class="card-img-top" [src]="ImagePathmanShirt1" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">T-shirt with print</h4>
                        <p class="card-text">Pixelman on t-shirt</p>
                        <p>Price: 250 pixelcoins</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" >
                    <img class="card-img-top" [src]="ImagePathmanShirt2" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">T-shirt with print</h4>
                        <p class="card-text">Pixelman on t-shirt</p>
                        <p>Price: 250 pixelcoins</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row cards">
            <div class="col-md-4">
                <div class="card" >
                    <img class="card-img-top" [src]="ImagePathmanShirt3" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">T-shirt with print</h4>
                        <p class="card-text">Pixelman on t-shirt</p>
                        <p>Price: 250 pixelcoins</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" >
                    <img class="card-img-top" [src]="ImagePathmusse" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Mousepad with print</h4>
                        <p class="card-text">Pixelman on Mousepad</p>
                        <p>Price: 50 pixelcoins</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" >
                    <img class="card-img-top" [src]="ImagePathPhoneCover" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Mobile cover with print</h4>
                        <p class="card-text">Pixelman on mobile cover</p>
                        <p>Price: 50 pixelcoins</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div><br><br><br>

        </div><br><br><br><br>
    </div>
