<div class="container">
       <!-- <div class="row ">
            <div class="col-md-6 textarea">
                <h1>Go Pixelman GO!!!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad amet animi cupiditate debitis,
                    dolorum harum id illum incidunt nostrum numquam perferendis qui quisquam recusandae rerum tenetur ullam vero vitae!
                </p>
                <ul>
                    <li>Single Player</li>
                    <li>Multiplayer</li>
                    <li>Open world</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque,
                    ducimus eum harum labore libero magni minus nemo neque! Dignissimos,
                    dolorum maiores quasi qui quo ratione reprehenderit repudiandae sit temporibus voluptatum?
                </p>
            </div>
            <div class="col-md-6">
                 <app-games-terminal>Loading terminal....</app-games-terminal>
                 <div id="overlay">
                    <div id="gameWindow"> 
                    </div>
                 </div>
            </div>
        </div>-->

            <div class="col-md-12 terminalPladsen">
                <div class="col-md-4">
<br><br>
                        <h2>Welcome to Play IT 2017 - Pixel Play</h2>
                    <p>

Welcome to Pixel Play, Here we take the Retro perspective towards gaming under the Play it 2017 festival, and focus our site towards the history behinde Arcade gaming.

Here you will be able to finde information behinde Arcade gaming and test your skills in DIGGER via. Our browser terminal.

Besides that you will be able to check out our newest mersendice.

On top of that we urge you to try and finde our hidden Pixelman in the Game Terminal.

Hope you enjoy your stay



Game Terminal:
                    </p>
                    <h4>Start your terminal experiense with command <strong>help</strong></h4>
                </div>

                <div class="col-md-8">
                    <div class="terminalen">
                        <app-games-terminal>Loading terminal....</app-games-terminal>
                        <div id="overlay">
                            <div id="gameWindow"> 
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>


