<div class="container">
       <!-- <div class="row ">
            <div class="col-md-6 textarea">
                <h1>Go Pixelman GO!!!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad amet animi cupiditate debitis,
                    dolorum harum id illum incidunt nostrum numquam perferendis qui quisquam recusandae rerum tenetur ullam vero vitae!
                </p>
                <ul>
                    <li>Single Player</li>
                    <li>Multiplayer</li>
                    <li>Open world</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque,
                    ducimus eum harum labore libero magni minus nemo neque! Dignissimos,
                    dolorum maiores quasi qui quo ratione reprehenderit repudiandae sit temporibus voluptatum?
                </p>
            </div>
            <div class="col-md-6">
                 <app-games-terminal>Loading terminal....</app-games-terminal>
                 <div id="overlay">
                    <div id="gameWindow"> 
                    </div>
                 </div>
            </div>
        </div>-->

            <div class="col-md-12 terminalPladsen">
                <div class="col-md-4"></div>

                <div class="col-md-8">
                    <div class="terminalen">
                        <app-games-terminal>Loading terminal....</app-games-terminal>
                        <div id="overlay">
                            <div id="gameWindow"> 
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>


