/*/*------- font--------*/
/*@font-face {
    font-family: 'Karmatic Arcade';
    src: url('/assets/font/pixelman.ttf') format('truetype');
}
.navbar-fixed-top {
    box-shadow: 10px 10px 47px -12px rgba(0,0,0,0.75);
    background-color: white;
    width: 1366px;
    margin: 0 auto;
}
.navbar-fixed-top ul li a {
    font-family: "Karmatic Arcade";
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 15px 30px;
    margin-left: 58px;
}
.headerPic {
    margin-top: 53px;
    width: 100%;
    padding: 0;
    margin-right: 10px;
    border-bottom: 20px solid #A67C52;
}*/